config.json
students.db
__pycache__
*.pyc
venv/
*.db
*.log
.DS_Store
*.swp
config.json
.idea/amplicode-jpa.xml
.idea/brumarks.iml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.gitignore
