[Unit]
Description=Telegram Student Rating Bot
After=network.target

[Service]
User=username
WorkingDirectory=/home/username/brumarks
Environment="PATH=/home/username/brumarks/venv/bin"
ExecStart=/home/username/brumarks/venv/bin/python3 /home/username/brumarks/bot.py
Restart=always

[Install]
WantedBy=multi-user.target